@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.sectionWithUs {
    margin-bottom: 61px;
    @include tablet {
        margin-bottom: 53px;
    }
}

.scroll {
    margin-left: -36px;
    margin-right: -20px;
    padding-top: 38px;
    overflow-x: hidden;
    @include flex-row($gap-xxs, center);
    @include tablet {
        gap: 0px;

        img {
            width: 140px;
            height: 51px;
        }
    }
}

@media (max-width: 768px) {
    .text-wrap {
        padding-right: 60px;
    }
}