@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.drop-menu {
    position: fixed;
    top: 16%;
    right: 20px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 20px;
    z-index: 100;
    pointer-events: auto;
    border: 1px solid var(--color-black);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.dropdown-menu__links {
    margin: 0 auto;
    @include flex-column($gap-xxs, null, null)
}

.dropdown-link {
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    text-align: end;
    border-bottom: 1px solid rgba(0, 228, 240, 0.2);
    padding: 20px 0;
    position: relative;
    @include text-style(400, 12px, 140%, 0.09em, var(--color-white));

    &.active::before {
        content: '';
        width: 6px;
        height: 6px;
        background-color: var(--color-primary);
        position: absolute;
        left: 70%;
        top: 10px;
        transform: translateX(-50%);
    }

    &:last-child {
        border-bottom: none;
    }
}


.dropdown-link:hover,
.dropdown-link.active,
.other-color {
    color: var(--color-primary);
}