.buttonSecondary {
    background-color: #00E4F0;
    color: #000000;
    text-transform: uppercase;
    width: 334px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.07em;
    padding: 5px 0;
}

@media (max-width: 420px) {
    .buttonSecondary {
        width: 100%;
    }
}