@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.sectionScheme {
    margin-bottom: 73px;
}

.sectionScheme-title {
    line-height: 40px;
}

.schemeBlock {
    border: 1px solid var(--color-primary);
    padding: 57px 25px 60px;
    height: auto;
    box-shadow: 0 0 7px 4px rgb(46, 236, 246);
    margin-top: 30px;
}

.first-part-scheme {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap-large;
    row-gap: 0px;
}

.second-part-scheme {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    padding-left: 2px;
}

.numbers {
    @include flex-row(0, center, center);
    @include text-style(null, 15px, 22.2px, 0, var(--color-primary));
}

.client,
.summary {
    grid-row: span 2 ;
}

.sim-card,
.operators {
    grid-row: span 1;
    @include flex-column(0, center)
}

.text-scheme {
    @include text-style(300, null, null, 0);
    text-align: center;
    margin-bottom: 18px;
}

.text-wide,
.text-small {
    text-transform: uppercase;
}

.text-wide {
    font-size: 15px;
}

.text-normal {
    @include text-style(null, 14px, 19.2px, null);
}

.text-small {
    font-size: $text-sm;
}

.another-text {
    white-space: nowrap;
    margin-bottom: 14px;
}

.another-text-operators {
    margin-bottom: 23px;
}

.group-border {
    border: 2px solid var(--color-primary);
    border-bottom: 0;
    width: 340px;
    height: 11px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 15px;
        top: -15px;
        width: 2px;
        left: 50%;
        background-color: var(--color-primary);
    }
}

.group-border-small {
    width: 67px;
    height: 11px;
}

.scheme1 {
    @include flex-column(11px, center, center)
}

.sheme1-img {
    width: 110px;
    height: 148px;
}

.scheme2 {
    @include flex-column(12px, null, center)
}

.vector {
    width: 100%;
    max-width: 100px;
    height: 13px;
    transform: rotate(var(--rotate, 0deg));
}

.vector-left .vector:not(:first-child):not(:last-child),
.vector-right .vector:first-child, 
.vector-right .vector:last-child {
    padding-left: 10px;
}

.vector-right .vector:not(:first-child):not(:last-child) {
    padding-right: 10px;
}

.sheme2-img {
    width: 94px;
    height: 73px;
}

.vectors {
    @include flex-column(30px, null, center)
}

.sim-cards-group {
    @include flex-column(15px, center)
}

.card {
    object-fit: contain;
    width: 55%;
}

.mbit-groups {
    padding: 0 7px;
    @include flex-column(30px, null, null)
}

.mbit-text {
    font-size: 10px;
}

.group-item {
    @include flex-column(2px, null, null)
}

.server {
    width: 105px;
    height: 114px;
}

.server-block {
    flex-direction: column-reverse;
}

.global-img {
    width: 69px;
    height: 69px;
}

.mobile-scheme {
    display: none;
    @include tablet-large {
        display: block;
    }
}

@media (max-width: 1285px) {
    .desktop-scheme {
        display: none;
    }
}