.sectionScheme {
    margin-bottom: 73px;
}

.sectionScheme-title {
    line-height: 40px;
}

.schemeBlock {
    border: 1px solid #00E4F0;
    padding: 57px 39px 60px;
    height: auto;
    box-shadow: 0 0 7px 4px rgb(46, 236, 246);
    margin-top: 30px;
}

.first-part-scheme {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    row-gap: 0px;
}

.second-part-scheme {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 25px;
}

.numbers {
    display: flex;
    justify-content: center;
    color: #00E4F0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22.2px;
}

.client {
    grid-row: span 2 ;
}

.sim-card {
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operators {
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    grid-row: span 2;
}

.wide-text {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 34px;
}

.second-part-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 19.2px;
    letter-spacing: 0;
    text-align: center;
}

.small-text {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
}

.another-text {
    margin-bottom: 33px;
}

.group-border {
    border: 2px solid #00E4F0;
    border-bottom: 0;
    width: 340px;
    height: 11px;
    position: relative;
}

.group-border-small {
    width: 67px;
    height: 11px;
}

.group-border::before {
    content: '';
    position: absolute;
    height: 15px;
    top: -15px;
    width: 2px;
    left: 50%;
    background-color: #00E4F0;
}

.scheme1 {
    display: flex;
    gap: 11px;
    flex-direction: column;
}

.scheme2 {
    display: flex;
    gap: 13px;
    flex-direction: column;
    justify-content: center;
}

.vector {
    width: 100px;
    height: 8px;
}

.sheme2-img {
    width: 94px;
    height: 73px;
}