.sectionScheme {
    margin-bottom: 73px;
}

.sectionScheme-title {
    line-height: 40px;
}

.schemeBlock {
    border: 1px solid #00E4F0;
    padding: 57px 25px 60px;
    height: auto;
    box-shadow: 0 0 7px 4px rgb(46, 236, 246);
    margin-top: 30px;
}

.first-part-scheme {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    row-gap: 0px;
}

.second-part-scheme {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    margin-top: 10px;
    padding-left: 2px;
}

.numbers {
    display: flex;
    justify-content: center;
    color: #00E4F0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22.2px;
}

.client {
    grid-row: span 2 ;
}

.sim-card {
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operators {
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    grid-row: span 2;
}

.text-scheme {
    font-weight: 300;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 18px;
}

.text-wide {
    font-size: 15px;
    text-transform: uppercase;
}

.text-normal {
    font-size: 14px;
    line-height: 19.2px;
}

.text-small {
    font-size: 10px;
    text-transform: uppercase;
}

.another-text {
    white-space: nowrap;
    margin-bottom: 14px;
}

.another-text-operators {
    margin-bottom: 23px;
}

.group-border {
    border: 2px solid #00E4F0;
    border-bottom: 0;
    width: 340px;
    height: 11px;
    position: relative;
}

.group-border-small {
    width: 67px;
    height: 11px;
}

.group-border::before {
    content: '';
    position: absolute;
    height: 15px;
    top: -15px;
    width: 2px;
    left: 50%;
    background-color: #00E4F0;
}

.scheme1 {
    display: flex;
    gap: 11px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheme1-img {
    width: 110px;
    height: 148px;
}

.scheme2 {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
}

.vector {
    width: 100px;
    height: 13px;
    transform: rotate(var(--rotate, 0deg));
}

.vector-left .vector:not(:first-child):not(:last-child) {
    padding-left: 10px;
}

.vector-right .vector:not(:first-child):not(:last-child) {
    padding-right: 10px;
}

.vector-right .vector:first-child, 
.vector-right .vector:last-child {
    padding-left: 10px;
}

.sheme2-img {
    width: 94px;
    height: 73px;
}

.vectors {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}

.sim-cards-group {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 45px;
}

.mbit-groups {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 0 7px;
}

.mbit-text {
    font-size: 10px;
}

.group-item {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.server {
    width: 105px;
    height: 114px;
}

.server-block {
    flex-direction: column-reverse;
}

.global-img {
    width: 69px;
    height: 69px;
}