.sectionTechnology {
    margin-bottom: 73px;
}

.block_tech {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 20px;
    gap: 12px;
}

.sectionTechnology_text {
    white-space: wrap;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 300;
}

.sectionTechnology_img {
    grid-column: span 7;
}

.block_button {
    grid-column: span 5;
    background: linear-gradient(
        240deg,
        #FF4C00 5%,
        #000000 65%
    );
    border: 1px solid #FF4C00; 
    padding: 14px 26px 20px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

.sectionTechnology_button {
    background-color: #00E4F0;
    color: #000000;
    text-transform: uppercase;
    max-width: 334px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.07em;
}