.sectionTechnology {
    margin-bottom: 73px;
    overflow: hidden;
}

.block_tech {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 20px;
    gap: 12px;
    align-items: stretch;
}

.sectionTechnology_text {
    white-space: wrap;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 300;
    word-wrap: break-word;
}

.sectionTechnology_img {
    grid-column: span 7;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.block_button {
    grid-column: span 5;
    background: linear-gradient(
        240deg,
        #FF4C00 5%,
        #000000 65%
    );
    border: 1px solid #FF4C00; 
    padding: 14px 26px 20px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    gap: 19px;
}

@media (max-width: 970px) {
    .block_tech {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .sectionTechnology_img {
        grid-column: span 1;
        order: 0;
    }

    .block_button {
        grid-column: span 1;
        order: 1;
        min-height: auto;
        gap: 25px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .sectionTechnology {
        margin-bottom: 43px;
    }
    
    .block_button {
        padding: 15px 15px 19px 15px;
    }
    
    .sectionTechnology_text {
        font-size: 18px;
        line-height: 22px;
    }
}