@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.sectionScheme {
    @include tablet-large {
        margin-bottom: 43px;
    }
}

.schemeBlock {
    @include tablet-large {
        padding: 26px 18px 31px;
    }
    @include tablet {
        padding: 20px 5px 20px;
    }
}

.grid-scheme {
    @include tablet-large {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(11, 1fr);
        gap: 0;
    }
}

.text-scheme {
    @include tablet-large {
        margin: 0;
    }
}

.text-wide {
    @include tablet-large {
        margin-bottom: 0;
        font-weight: 400;
        font-size: $text-lg;
        text-align: start;
    }
    @include tablet {
        font-size: $text-md;
    }
    @include mobile {
        font-size: 13px;
        padding-right: 4px;
    }
}

.text-normal {
    @include tablet-large {
        text-align: start;
    }
}

.first-part {
    @include tablet-large {
        @include flex-row($gap-xxs, center, center)
    }
    @include tablet {
        gap: 13px
    }
}

.sheme1-img {
    @include tablet-large {
        width: 209px;
        height: 71px;
        object-fit: contain;
    }
    @include tablet {
        width: 160px;
        height: 59px;
    }
    @include mobile {
        width: 100px;
        height: 39px;
    }
}

@include tablet-large {
    .client { grid-row: 1/4; grid-column: 1/3; }
    .sim-card { grid-row: 5/6; grid-column: 1/3; }
    .operators { grid-row: 7/8; grid-column: 1/3; }
    .summary { grid-row: 9/12; grid-column: 1/3; }

    .scheme1 { grid-row: 1/2; grid-column: 3/7; }
    .scheme2 { grid-row: 2/3; grid-column: 3/7; }
    .scheme3 { grid-row: 3/4; grid-column: 3/7; }

    .vector-top { grid-row: 4/5; grid-column: 3/7; }
    .vector-bottom { grid-row: 8/9; grid-column: 3/7; }

    .sim-cards-group { grid-row: 5/6; grid-column: 3/7; }
    .mbit-groups { grid-row: 6/7; grid-column: 3/7; }
    .router-cards-group { grid-row: 7/8; grid-column: 3/7; }

    .server-block { grid-row: 9/10; grid-column: 3/7; }
    .numbers-grid { grid-row: 9/12; grid-column: 3/4; }
    .IP { grid-row: 10/11; grid-column: 3/7; }
    .internet-block { grid-row: 11/12; grid-column: 3/7; }
}

@include tablet {
    .client, .sim-card, .operators, .summary {
        grid-column: 1/2;
    }

    .scheme1, .scheme2, .scheme3, .vectors, 
    .sim-cards-group, .mbit-groups, .router-cards-group, 
    .server-block, .IP, .internet-block {
        grid-column: 2/7;
    }

    .numbers-grid {
        grid-column: 2/3;
    }
}

@include mobile {
    .server-block, .IP, .internet-block {
        grid-column: 3/7;
    }
}

@include tablet-large {
    .scheme1, .sim-cards-group, .mbit-groups, .router-cards-group, .internet-block {
        @include flex-row;
    }

    .scheme2, .server-block, .IP {
        @include flex-row(13px)
    }

    .scheme3 {
        @include flex-row(8px)
    }

    .vector-top, .vector-bottom {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }
    
    .sim-cards-group, .router-cards-group {
        justify-content: space-between;
        padding: 0 40px;
    }
    
    .mbit-groups {
        justify-content: space-between;
        margin-top: 20px;
    }

    .numbers-grid {
        @include flex-column(0, center, center)
    }

    .server-block {
        flex-direction: row-reverse;
        gap: 10px;
    }

    .IP {
        justify-content: center;
    }

    .internet-block {
        gap: 20px;
    }

    .vectors {
        @include flex-row(6px)
    }

    .group-border {
        border-right: 0;
        width: 7px;
        border-bottom: 2px solid $accent;
        height: 100%;

        &::before {
            width: 8px;
            height: 2px;
            top: 50%;
            left: -9px;
            background-color: $accent;
        }
    }

    .group-border-small {
        width: 7px;
        height: 100%;
    }

    .group-item {
        align-items: center;
        gap: 0;
    }

    .card {
        width: 40px;
        height: 63px;
        object-fit: contain;
    }

    .server-block {
        flex-direction: row-reverse;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .numbers {
        font-size: $text-sm;
    }

    .first-part {
        gap: 13px;
    }

    .schemeBlock {
        padding: 20px 5px 20px;
    }

    .router-cards-group {
        padding: 5px 10px 0;
    }

    .sim-cards-group {
        padding: 0 10px;
    }

    .server {
        width: 60px;
        height: 66px;
    }

    .sheme2-img {
        width: 60px;
        height: 47px;
    }

    .vectors {
        gap: 6px;
    }

    .mbit-groups {
        margin-top: 0;
        padding: 0;
        gap: 10px;
        margin-top: 20px;
    }

    .global-img {
        width: 55px;
        height: 55px;
    }

    .client, .sim-card, .operators, .summary {
        grid-column: 1/2;
    }

    .scheme1, .scheme2, .scheme3, .vectors, .sim-cards-group, .mbit-groups, .router-cards-group, .server-block, .IP, .internet-block {
        grid-column: 2/7;
    }

    .numbers-grid {
        grid-column: 2/3;
    }
}

@media (max-width: 495px) {
    .router-cards-group, .sim-cards-group {
        padding: 0 1px;
    }

    .server-block, .IP, .internet-block {
        grid-column: 3/7;
    }

    .mbit-groups {
        gap: 2px;
    }

    .vectors {
        gap: 1px;
    }

    .vector {
        object-fit: none;
        height: 5px;
    }

    .mbit-text {
        font-size: 7px;
        letter-spacing: 0;
    }

    .card {
        width: 30px;
        height: 53px;
    }

    .numbers {
        font-size: 8px;
    }
}
