@mixin text-style($weight, $size, $height, $letter, $color: var(--color-white)) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $letter;
    color: $color;
}

@mixin tablet-large {
    @media (max-width: 1285px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 495px) {
        @content;
    }
}

@mixin flex-row($gap: 0, $align: center, $justify: null) {
    display: flex;
    flex-direction: row;
    align-items: $align;
    @if $justify {
        justify-content: $justify;
    }
    @if $gap != 0 {
        gap: $gap;
    }
}

@mixin flex-column($gap: 0, $align: null, $justify: null) {
    display: flex;
    flex-direction: column;
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
    @if $gap != 0 {
        gap: $gap;
    }
}

@mixin block-setting(
    $color1,
    $color2,
    $color3: null,
    $stop1,
    $stop2,
    $stop3: null,
    $angle,
    $padding,
    $border-color: var(--color-primary),
    $border-radius
) {
    padding: $padding;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    @if $color3 != null {
        background: linear-gradient(
            $angle,
            $color1 $stop1,
            $color2 $stop2,
            $color3 $stop3
        );
    } @else {
        background: linear-gradient(
            $angle,
            $color1 $stop1,
            $color2 $stop2
        );
    }
}