$white-light: #ffffffb9;
$white-dark: #ffffffd2;
$gap-large: 70px;
$gap-medium: 67px;
$gap-small: 31px;
$gap-xs: 25px;
$gap-xxs: 20px;
$gap-xxxs: 17px;
$accent: #00E4F0;
$text-sm: 10px;
$text-md: 18px;
$text-lg: 24px;
