.sectionTechSupport {
    margin-bottom: 37px;
}

.container-blocks-red {
    display: flex;
    gap: 12px;
    margin-top: 30px;
}

.sectionTech-block-red {
    display: block;
    background: linear-gradient(
        220deg,
        #000000 40%,
        #FF4C00 120%
    );
    border: 1px solid #FF4C00; 
    padding: 14px 15px 20px 17px;
    border-radius: 8px;
    width: 100%;
}

.sectionTech-img {
    width: auto; 
    max-height: 60px;
    object-fit: contain;
}

.sectionTech-block-red ul {
    padding-left: 17px;
}

.sectionTech-block-red-flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .sectionTechSupport {
        margin-bottom: 34px;
    }

    .container-blocks-red {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        flex-direction: column;
    }

    .sectionTech-block-red {
        padding: 15px;
        border-radius: 8px;
        box-sizing: border-box;
        background: linear-gradient(
            240deg, 
            #FF4C00 1%,
            #000000 50%);
    }

    .sectionTech-block-red-flex {
        flex-direction: column-reverse;
        align-items: start;
        margin-top: 21px;
        gap: 15px;
    }

    .sectionTech-block-red ul {
        padding-left: 23px;
    }
}