.sectionWithUs {
    margin-bottom: 61px;
}

.scroll {
    margin-left: -36px;
    margin-right: -30px;
    display: flex;
    gap: 20px;
    padding-top: 38px;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .scroll img {
        width: 140px;
        height: 51px;
    }

    .sectionWithUs {
        margin-bottom: 53px;
    }

    .scroll {
        gap: 0px;
    }

    .text-wrap {
        padding-right: 60px;
    }
}