.sectionMonitoring {
    margin-bottom: 73px;
}

.block-monitoring {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    margin: 20px 0 34px;
}

.sectionMonitoring_monitor {
    grid-column: span 5;
    grid-row: 1;
    border: 1px solid #00E4F0;
    background: linear-gradient(
        240deg,
        #00E4F0 5%,
        #000000 65%
    );
    border-radius: 8px;
    padding: 11px 0 15px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionMonitoring_setting {
    grid-column: span 5;
    grid-row: 2;
    border: 1px solid #00E4F0;
    background: linear-gradient(
        240deg,
        #00E4F0 5%,
        #000000 65%
    );
    border-radius: 8px;
    padding: 11px 0 15px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionMonitoring_img {
    grid-column: span 7;
    grid-row: span 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sectionMonitoring_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 22.2px;
    letter-spacing: 0;
}

.sectionMonitoring_text:not(:last-child) {
    padding-bottom: 20px;
}

.sectionMonitoring_button {
    background-color: #00E4F0;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.button-container {
    display: flex;
    justify-content: center;
}