.button-gradient {
    text-transform: uppercase;
    background: linear-gradient(
        210deg,
        #FF4C00 0%,
        #B38BCE 60%,
        #00E4F0 100%
    );
    border: 1px solid transparent;
    padding: 12px 90px;
}

.button-font {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: black;
}

.button-gradient:hover {
    box-shadow: 
    0 0 30px rgba(0, 228, 240, 0.6),
    0 0 60px rgba(179, 139, 206, 0.4),
    0 0 90px rgba(255, 76, 0, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.3);
}

.button-gradient-link {
    text-decoration: none;
}

.button-gradient-link:hover {
    color: black;
}