.sectionRussia {
    margin-bottom: 79px;
}

.block-map {
    border: 1px solid #FF4C00;
    box-shadow: 0 0 7px 4px rgba(255, 76, 0, 0.6);
    width: 1363px;
    height: 792px;
    border-radius: 8px;
    margin-top: 20px;
    position: relative;
}

.block-map i {
    position: absolute;
    z-index: 2;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #000000;
    background-color: #00E4F0;
    font-style: normal;
    padding: 2px 4px;
}

.block-map span {
    font-weight: 500;
}

.block-map i:nth-child(1) {
    content: "";
    top: 240px;
    left: 220px;
}

.block-map i:nth-child(2) {
    content: "";
    top: 335px;
    left: 200px;
}

.block-map i:nth-child(3) {
    content: "";
    top: 430px;
    left: 275px;
}

.block-map i:nth-child(4) {
    content: "";
    top: 482px;
    left: 390px;
}

.block-map i:nth-child(5) {
    content: "";
    top: 560px;
    left: 370px;
}

.block-map i:nth-child(6) {
    content: "";
    top: 463px;
    left: 70px;
}

.block-map i:nth-child(7) {
    content: "";
    bottom: 185px;
    left: 570px;
}

.block-map i:nth-child(8) {
    content: "";
    bottom: 90px;
    right: 45px;
}

.bottomMap {
    display: flex;
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    margin-top: 39px;
}

.row {
    display: flex;
    gap: 7px;
}

.block_map-img {
    padding: 32px 40px 52px 40px;
}