.header {
    margin-bottom: 37px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 115px;
    justify-content: space-between;
}

.header__nav-logo {
    display: flex;
    gap: 40px;
}

.header__nav-links {
    display: flex;
    gap: 35px;
    padding-top: 27px;
    text-transform: uppercase;
}

.other-color {
    color: #00E4F0;
}
.tel {
    padding-top: 27px;
    white-space: nowrap;
}