@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.section-compositionOfTheDecision {
    margin-bottom: 73px;
}

.sectionComposition-block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    margin-top: 30px;
}

.sectionComposition-block-setting {
    background: linear-gradient(
        70deg,
        var(--color-primary) 1%,
        var(--color-black) 39%
    );
    padding: 20px 24px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    @include flex-column(0, null, space-between);
    @media (max-width: 822px) {
        padding: 18px 15px 15px;
        gap: 10px;
    }
}

.first-grid {
    grid-column: span 3;
    display: flex;
    justify-content: flex-start;
}

.second-grid {
    grid-column: span 4;
}

.third-grid {
    grid-column: span 5;
}

.sectionComposition-title {
    padding: 9px 0;
    overflow-wrap: break-word;
    @include text-style(300, 20px, 32px, 0.09em);
    @media(max-width: 822px) {
        @include text-style(300, 20px, 25px, 0.06em);
    }
}

.multirouter-img {
    object-fit: contain;
    margin-bottom: 11px;
}

.block-numeration {
    text-transform: uppercase;
    @include flex-row(6px, center);
    @include text-style(400, 11px, 22.2px, 0.05em);
}

.numeration {
    border: 1px solid var(--color-white);
    border-radius: 50px;
    background-color: transparent;
    width: 30px;
    height: auto;
    text-align: center;
    padding: 4px 0;
}

.numeration-addition {
    width: 109px;
    padding: 4px 2px;
    text-align: center;
}

.sectionComposition-h4 {
    color: var(--color-primary);
    line-height: 27px;
    @media (max-width: 822px) {
        @include text-style(400, 14px, 20px, 0.05em);
    }
}

.sectionComposition-link {
    text-decoration: underline;
}

.sectionComposition-flex {
    @include flex-column(50px, null, space-between)
}

.mobile-verssion {
    display: none;
    @media(max-width: 822px) {
        display: block;
        margin-top: 30px;
        min-height: 0;
    }
}

.desktop-version {
    @media (max-width: 822px) {
        display: none;
    }
}