.desktop-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.footer_address {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.footer-container_adress {
    display: flex;
    gap: 17px;
    flex-direction: column;
}

.footer_logo {
    width: 185px;
    height: 42px;
}

.footer_text {
    font-weight: 100;
    font-size: 12px;
    line-height: 19.6px;
    letter-spacing: 0.01em;
    color: #ffffffb9;
}

.footer_logo-text {
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffffd2;
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.footer-link {
    text-decoration: underline;
}

.footer_text-info {
    line-height: 140%;
    letter-spacing: 0.01em;
}

.footer-container_info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.footer_links a {
    display: inline-block;
    font-weight: 200;
    color: #ffffffb9;
    text-decoration: underline;
    line-height: 17.6px;
    letter-spacing: -0.04em;
}

.footer_img {
    margin-right: -29px;
}

.mobile-footer {
    display: none;
}

@media (min-width: 1136px) and (max-width: 1400px) {
    .footer_links {
        gap: 0px;
    }

    .footer {
        gap: 0px;
    }

    .footer_img img {
        width: 380px;
        height: 340px;
    }
}

@media (max-width: 1135px) {
    .footer {
        display: inline;

    }
    .desktop-footer {
        display: none;
    }

    .mobile-footer {
        display: flex;
        flex-direction: column;
    }

    .mobile-adress-contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 45px;
        row-gap: 20px;
    }

    .mobile-footer_links a {
        line-height: 16px;
        letter-spacing: 0.01em;
        font-size: 11px;
    }

    .footer_links {
        padding-bottom: 30px;
        gap: 20px;
    }

    .footer_links-instructions a, .footer_links-requirements a{
        display: block;
    }

    .mobile-footer-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 0px;
    }

    .mobile-footer_img img{
        width: 100%;
    }

    .footer_text-info {
        margin-top: 11px;
    }
}