@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.desktop-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.footer_address,
.footer_info,
.footer-container_adress,
.footer-container_info,
.footer_links {
    display: flex;
    flex-direction: column;
}

.footer_address { gap: $gap-large }
.footer_info { gap: $gap-medium }

.footer-container_adress { gap: $gap-xxxs; }
.footer-container_info { gap: $gap-xs; }

.footer_logo {
    width: 185px;
    height: 42px;
}

.footer_text,
.footer-link {
    @include text-style(100, 12px, 19.6px, 0.01em, $white-dark)
}

.footer_logo-text {
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $white-dark;
}

.footer-link {
    text-decoration: underline;
}

.footer_text-info {
    @include text-style(null, null, 140%, 0.01em, $white-dark)
}

.footer_links {
    gap: $gap-small;

    a {
        display: inline-block;
        text-decoration: underline;
        @include text-style(200, null, 17.6px, -0.04em, $white-dark)
    }
}

.footer_img {
    margin-right: -29px;
}

.mobile-footer {
    display: none;
}

@media (min-width: 1136px) and (max-width: 1400px) {
    .footer_links {
        gap: 0px;
    }

    .footer {
        gap: 0px;
    }

    .footer_img img {
        width: 380px;
        height: 340px;
    }
}

@media (max-width: 1135px) {
    .footer {
        display: inline;

    }
    .desktop-footer {
        display: none;
    }

    .mobile-footer {
        display: flex;
        flex-direction: column;
    }

    .mobile-adress-contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 45px;
        row-gap: 20px;
    }

    .mobile-footer_links a {
        @include text-style(null, 11px, 16px, 0.01em, $white-dark)
    }

    .footer_links {
        padding-bottom: 30px;
        gap: $gap-xxs;
    }

    .footer_links-instructions, 
    .footer_links-requirements {
        a {
            display: block;
        }
    }

    .mobile-footer-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 0px;
    }

    .mobile-footer_img img{
        width: 100%;
    }

    .footer_text-info {
        margin-top: 11px;
    }
}