@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.sectionSummary {
    margin-bottom: 73px;
    @include tablet {
        margin-bottom: 42px;
    }
}

.sectionSummary_title,
.sectionSummary_img,
.desktop-version .sectionSummary_title,
.desktop-version .sectionSummary_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sectionSummary_title,
.desktop-version .sectionSummary_title {
    padding-bottom: 20px;
}

.sectionSummary_img,
.desktop-version .sectionSummary_title,
.desktop-version .sectionSummary_img  {
    gap: 12px;
}

.desktop-version {
    display: block;
    @include tablet {
        display: none;
    }
}

.mobile-version {
    display: none;
    @include tablet {
        @include flex-column(43px, null, null)
    }
    h2 {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .mobile-electrotrain .mobile-train {
        @include flex-column(20px, null, null)
    }

    .mobile-version img {
        min-height: 200px;
    }

    .mobile-version-h2 {
        margin-top: 20px;
    }
}