.sectionRussia {
    margin-bottom: 79px;
}

.block-map {
    border: 1px solid #FF4C00;
    box-shadow: 0 0 7px 4px rgba(255, 76, 0, 0.6);
    border-radius: 8px;
    position: relative;
}

.desktop-block-map {
    width: 1363px;
    height: 792px;
    margin-top: 20px;
    max-width: 100%;
}

.block-map i {
    position: absolute;
    z-index: 2;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #000000;
    background-color: #00E4F0;
    font-style: normal;
    padding: 2px 4px;
}

.block-map span {
    font-weight: 500;
}

.desktop-block-map i:nth-child(1) { top: 240px; left: 215px; }
.desktop-block-map i:nth-child(2) { top: 335px; left: 195px; }
.desktop-block-map i:nth-child(3) { top: 430px; left: 268px; }
.desktop-block-map i:nth-child(4) { top: 482px; left: 383px; }
.desktop-block-map i:nth-child(5) { top: 550px; left: 362px; }
.desktop-block-map i:nth-child(6) { top: 463px; left: 65px; }
.desktop-block-map i:nth-child(7) { bottom: 185px; left: 564px; }
.desktop-block-map i:nth-child(8) { bottom: 90px; right: 55px; }

.bottomMap {
    display: flex;
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    margin-top: 39px;
}

.row {
    display: flex;
    gap: 7px;
}

.block_map-img {
    padding: 32px 40px 52px 40px;
    height: auto;
}

.map-star {
    width: 160px;
    height: 160px;
}

.map-neon {
    width: 12px;
    height: 12px;
}

.mobile-container-cities,
.mobile-block-map {
    display: none;
}

@media (max-width: 1439px) and (min-width: 1024px) {
    .block-map {
        width: 100%;
        height: auto;
    }

    .block_map-img {
        padding: 32px 40px 52px;
        width: 93%;
        height: auto;
    }

    .desktop-block-map i:nth-child(1) { top: 29.5%; left: 15.7%; }
    .desktop-block-map i:nth-child(2) { top: 42.3%; left: 14.7%; }
    .desktop-block-map i:nth-child(3) { top: 54.3%; left: 20.2%; }
    .desktop-block-map i:nth-child(4) { top: 62.5%; left: 28.6%; }
    .desktop-block-map i:nth-child(5) { top: 70.7%; left: 27.1%; }
    .desktop-block-map i:nth-child(6) { top: 58.5%; left: 5.1%; }
    .desktop-block-map i:nth-child(7) { bottom: 23.4%; left: 41.8%; }
    .desktop-block-map i:nth-child(8) { bottom: 11.5%; right: 4.2%; }
    
    .block-map i {
        font-size: calc(12px + 0.1vw);
        padding: 1px 3px;
    }
}

@media (max-width: 1023px) {
    .mobile-map,
    .desktop-block-map {
        display: none;
    }

    .mobile-block-map {
        display: block;
        aspect-ratio: 340 / 250;
    }

    .mobile-container-cities {
        display: block;
        margin: 45px 0 41px;
    }

    ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        counter-reset: city-counter;
        list-style: none;
    }

    .city-item {
        position: relative;
        padding-left: 30px;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0;
    }

    .city-item::before {
        counter-increment: city-counter;
        content: counter(city-counter);
        position: absolute;
        left: 0;
        top: 2px;
        background-color: #00E4F0;
        color: #000000;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
    }

    .sectionRussia {
        margin-bottom: 41px;
    }

    .text-map {
        letter-spacing: 0.07em;
        line-height: 12px;
        font-size: calc(13px + 0.4vw);
        margin-bottom: 25px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .mobile-text-map {
        font-weight: 400;
        font-size:calc(16px + 0.1vw);
        line-height: 19px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin: 22px 0 0 69px;
        position: relative;
    }

    .marker-map {
        position: absolute;
        width: 70px;
        height: 70px;
    }

    .block-map {
        width: 100%;
        margin: 30px 0px 34px;
    }

    .block_map-img {
        padding: 31px 0px 0px;
        width: 99%;
        position: relative;
        z-index: 0;
    }
    
    .mobile-block-map i:nth-of-type(1) { top: 49%; left: 12%; }
    .mobile-block-map i:nth-of-type(2) { top: 35%; left: 15%; }
    .mobile-block-map i:nth-of-type(3) { top: 52%; left: 19%; }
    .mobile-block-map i:nth-of-type(4) { top: 62%; left: 3%; }
    .mobile-block-map i:nth-of-type(5) { top: 64%; left: 22%; }
    .mobile-block-map i:nth-of-type(6) { top: 62%; left: 26%; }
    .mobile-block-map i:nth-of-type(7) { bottom: 23%; left: 42%; }
    .mobile-block-map i:nth-of-type(8) { bottom: 19%; left: 87%; }

    .mobile-block-map i {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        padding: 1px;
    }
}

@media (max-width: 1023px) and (min-width: 769px) {
    .mobile-block-map i:nth-of-type(1) { top: 49%; left: 12%; }
    .mobile-block-map i:nth-of-type(2) { top: 37%; left: 17%; }
    .mobile-block-map i:nth-of-type(3) { top: 55%; left: 21%; }
    .mobile-block-map i:nth-of-type(4) { top: 62%; left: 3%; }
    .mobile-block-map i:nth-of-type(5) { top: 64%; left: 22%; }
    .mobile-block-map i:nth-of-type(6) { top: 61%; left: 28%; }
    .mobile-block-map i:nth-of-type(7) { bottom: 25%; left: 39%; }
    .mobile-block-map i:nth-of-type(8) { bottom: 19%; left: 87%; }
}

@media (max-width: 768px) {
    .mobile-block-map i:nth-of-type(1) { top: 59%; left: 12%; }
    .mobile-block-map i:nth-of-type(2) { top: 45%; left: 17%; }
    .mobile-block-map i:nth-of-type(3) { top: 62%; left: 21%; }
    .mobile-block-map i:nth-of-type(4) { top: 72%; left: 3%; }
    .mobile-block-map i:nth-of-type(5) { top: 72%; left: 22%; }
    .mobile-block-map i:nth-of-type(6) { top: 67%; left: 28%; }
    .mobile-block-map i:nth-of-type(7) { bottom: 11%; left: 39%; }
    .mobile-block-map i:nth-of-type(8) { bottom: 9%; left: 87%; }

    .map-star {
        width: 70px;
        height: 70px;
    }

    .mobile-text-map {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    ol {
        padding: 0;
    }
}