.sectionScroll {
    overflow: hidden;
}

.link-title {
    font-size: 39px;
    text-transform: lowercase;
    font-weight: 400;
}

.scroll-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 27px;
    padding-right: 50%;
    margin-right: -50%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.block {
    background: linear-gradient(
        240deg,
        #00E4F0 5%,
        #000000 65%
    );
    border: 1px solid #00E4F0; 
    border-radius: 8px;
    padding: 24px 19px 15px 24px;
    max-width: 563px;
    min-width: 563px;
    flex-shrink: 0;
}

.sectionScroll__text-container {
    display: flex;
    gap: 23px;
    flex-direction: row;
    padding-bottom: 20px;
}

.arrow {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: end;
    padding: 0;
}

.block_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: left;
}

.block_text-other {
    color: #00E4F0;
}

.navigation {
    margin: 31px 35px 72px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-navigation {
    background-color: transparent;
}