@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
p {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.09em;
  line-height: 140%;
  font-family: inherit;
  margin: 0 auto;
}

a:hover {
  color: #00E4F0;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #000000;
  padding: 36px 36px 0 36px;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: inherit;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.22;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: inherit;
  margin: 0;
}

h3 {
  font-weight: 300;
  font-size: 26px;
  line-height: 39px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: inherit;
  margin: 0;
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto #646cff;
}

